{% extends 'master/master.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Enquiry Management </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form action="" id="myForm">
                    <input type="hidden" id="criteria" value="">
                    <div class="form-group">
                        <label for="full_name">Name</label>
                        <input type="text" id="full_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone">Subject</label>
                        <input type="txt" id="subject" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Details</label>
                        <input type="text" id="details" class="form-control">
                    </div>
                    <div class="form-group">
                        <button id="addEnquiry" class="btn btn-primary">Add Enquiry</button>
                    </div>
                </form>

            </div>
            <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>S.n</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="enquiryList">
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock content %}