{% extends 'master/master.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% for hotel in hotelDetails %}
                    <img src="{{ hotel.image.url }}" class="img-fluid" alt="">
                    <h1>{{ hotel.title }}</h1>
                    <p>
                        {{ hotel.description|safe }}
                    </p>
                    <div class="col-md-2">
                    Price: {{ hotel.price }}
                    <a href="{% url 'hotelbooking' hotel.id %}">
                        <button>Book Now</button>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}