{% extends 'master/master.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>

                    {% endfor %}

                {% endif %}
                <h1>Welcome {{ user.get_username }} </h1>

                <hr>

                <form action="{% url 'user_logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Logout</button>
                </form>

            </div>
            <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Hotel Name</th>
                        <th>Price</th>
                        <th>Booking Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookingData %}
                        <tr>
                            <td>{{ booking.hotel_id }}</td>
                            <td>{{ booking.hotel_id.price }}</td>
                            <td>
                                {{ booking.booking_date }}
                            </td>
                            <td>
                                <a href="{% url 'get_hotelbooking_details' booking.hotel_id.id %}">View Details</a>
                                <button><a href="{% url 'delete_hotelbooking_details' booking.hotel_id.id %}">Cancel</a>
                                </button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock content %}